/* styles/globals.css */

@import 'bootstrap/dist/css/bootstrap.min.css';

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.input{
  background-color:  #F5F5F5;
  display: flex;
  border-radius: 8px 60px 60px 8px;
  width: 85%;
  padding-left: 10px;
  margin-top: 20px;
  gap: 7px;
  
}
.icon{
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 85%;
  margin-top: 20px;

}
.icons{
display: flex;
justify-content: center;
flex-direction: column;
width: 50px;
height: 50px;
margin-top: 20px;
align-items: center;
}
.color{
  color: white;
  font-size: 14px;
  font-weight: 400;
}
.hero-section{
  height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
background-image: url('/bg.png');
 background-repeat: no-repeat;
 background-color: #000000;
 width: 100%;
 background-position: center;
 background-size: cover;
 
}
.navbar1{
  position: fixed;
  width: 100%;
}
.tabled{
  /* display: flex; */
  align-items: center;
  column-gap: 10px;
  margin-bottom: -8px;
}
@media (max-width:600px) {
  .drop-down-mida{
      display: none !important;
  }
}
@media(max-width:600px){
  .section2-drop{
      display: block !important;
  }
}
@media (max-width:600px){
  .respon{
      width: 50%!important;
  }
}
@media(max-width:600px){
  .block-mobile{
      display: none !important;
  }
}
@media(max-width:600px){
  .home-button{
      display: none !important;
  }
}
.carbox{
  padding: 20px;
  display: flex;
  background-color:  #645F9D;
  background-image: url('/Mask group.png');
  background-size: cover;
  height: 50%;
  border-radius: 10px;
}
.heading{
  color: white;
}
.paragraph{
  color:  #DEDEDE;
}
.button{
  width:  120px;
height:  44px;
border: none;
border-radius: 8px;
font-size: 14px;
font-weight: 500;

}
.house{
  background-color: #e6d2c2;
  display: flex;
  position: relative;
  padding: 22px;
  border-radius: 10px;
}
.house2{
  background-color: #E8E8E8;
  display: flex;
  position: relative;
  padding: 22px;
  border-radius: 10px;
}
.background{
 position: absolute;
 top: 0px;
 right: 0px;
}
.loca{
  Width: 26px;
Height:26px;
}
.card{
  margin-top: 10px;
  
}
.paragraph2{
  font-weight: 700;
  font-size: 18px;
  margin-top: 10px;
}
.button2{
  Width:143px;
  Height:42px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.div2{
  background-color:  #1F999A;
  color: white;border-radius: 6px;
  border-color: #1F999A;
  display: flex;
  align-items: center;
  justify-item: center;

}
.backcolor{
  background-color: #FAFAFA;
  margin-top: 80px;
}
.footer{
  background-color: #001819;
}
.logo-button{
  background-color: black;
  display: flex;
  width: 150px;
  gap: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: black;
  border-radius: 10px;
}
.footer-col{
  margin-top: 70px;
  margin-bottom: 20px;
}
li{
  list-style: none;
  margin-top: 8px;
}
.footer ul li a{
  text-decoration: none;
  color:  #B2B2B2;
  font-size: 13px;
}
a{
  text-decoration: none !important;
}
.col-back{
  background-color:  #a5e7e7;
  color: #000000;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-left: 10px;
  font-weight: 600;
}
.input{
  color: #F0D340;
  
}
.box{
  border: 1px solid #B0B0B0;
  width: 120px;
  height: 50px;
}
.parag-color{
  font-weight: 700;
  margin-left: 10px;
  margin-top: 10px;

}
.footer-icon{
  padding-top: 10px;
}
.logo-end{
  position: absolute;
  right: 20px;
  margin-top: 6px;
}
.box-mobile{
  width: 100px;
  align-items: center;
  margin-top: 20px; 
  margin-left: 5px;
  display: flex;
  justify-content: center;
  height: 100px;
  box-shadow: 0px 4px 48px 0px #0000001A;
}
.iPhone13{
  font-size: 31px;
  font-weight: 700;
}
.icon-button{
  background-color: #EDF7F7;
  border: none;
  border-radius: 100px;
  width: 165px;
  height: 50px;
  display: flex;
  padding: 13px;
  gap: 5px;
}
.slid-img{
width: 100%;
}
.col2{
  background-color: #f3f2f2;
  border-radius: 10px;
  padding-bottom: 4px;
}
.col-para{
  color: #666666;
  padding-left: 20px;
  padding-top: 10px;
}
.col-head{
  font-size: 30px;
  font-weight: 500;
  margin-left: 20px;
}
.col-button{
  background-color: white;
  margin-left: 10px;
  width: 95%;
  height: 44px;
  margin-bottom: 20px;
  border: 1px solid #1F999A;
  color: #1F999A;
  display: flex;
  gap: 5px;
  padding: 10px;
  justify-content: center;
}
.col3{
  
  margin-top: 20px;
  padding-top: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.col4{
  background-color: #f3f2f2;
 padding-bottom: 25px;
 border-radius: 10px;
}
.col5{
 padding-top: 10px;
 display: flex;
 margin-left: 20px;
}
.col-button2{
  background-color: #1F999A;
  margin-left: 10px;
  color: white;
  width: 95%;
  justify-content: center;
  height: 44px;
  margin-bottom: 10px;
  border: 1px solid #1F999A;
  display: flex;
  gap: 5px;
  padding: 10px;

  margin-top: 30px;
}
.col-button3{
  background-color: white;
  margin-left: 10px;
  width: 95%;
  height: 44px;
  border: 1px solid #1F999A;
  color: #1F999A;
  display: flex;
  gap: 5px;
  justify-content: center;
  padding: 10px;
}
.share-it{
  background-color: #f3f2f2;
  margin-top: 20px;
  padding-bottom: 20px;
}
.share-app{
  margin-left: 20px;
  display: flex;
  gap: 20px;

}
.Safety{
  background-color: #f3f2f2;
  margin-top: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
}
.tips{
  margin-left: 20px;
  font-weight: 500;
  color: #000000;
}
.tips-button{
  background-color: #f3f2f2;
  margin-top: 20px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

}
.chat1{
  background-color: #F5F5F5; 
  width: 100%;
  padding-top: 100px;  
  padding-bottom: 100px;
}
.chats{
  margin-top: 20px;
  font-size: 20px;
  width: 100%;
  font-weight: 500;
  margin-left: 20px;
}
.chat-contact{
  position: relative;
  width: 360px;
  height: 70px;
  margin-top: 6px;
  padding-left: 20px;
  transition: all .3s ease-in-out;
  border-radius: 6px;
  
}
.chat-contact:hover{
  background-color: #1F999A;
}
.activer{
  margin-left: 20px;
 padding-top: 20px;
 display: flex;
 align-items: center;
 gap: 20px;
 position: relative;
 padding-bottom: 5px;
 margin-top: 20px;
}
.masg1{
  background-color: #1F999A;
  width: 294px;
  height: 45px;
  color: white;
  padding: 10px;
  border-radius: 7px;
}
.masg{
  display: flex;
  gap: 10px;
  justify-content: end;
  padding-right: 20px;
}
.masg3{
  margin-top: 20px;
  background-color: #F5F5F5;
  border-radius: 7px;
  width: 500px;
  height: 80px;
  padding: 10px;
  border-radius: 7px;
  
}
.masg2{
  display: flex;
  gap: 20px;
}
.masg4{
  background-color: #F5F5F5;
  width: 294px;
  height: 45px;
  padding: 10px;
  border-radius: 7px;
  margin-top: 15px;
  margin-left: 70px;
}
.send-icon{
  margin-top: 410px;
  width: 100%;
  height: 60px;
  /* margin-left: 20px; */
  box-shadow: 0px 4px 48px 0px #0000001A;
   border: none;
   padding-left: 10px;
   margin-bottom: 20px;
  
}
.send-icon2{
  display: flex;
  gap: 8px;
position: absolute;
right: 11%;
margin-top: -40px;


}
.iconesd{
  position: relative;
}
.Request{
  font-size: 34px;
  font-weight: 700;
  display: flex;
  justify-content: center;

}
.boxbu{
  background-color: #EBEBEB;
  Width:100%;
  Height:60px;
  margin-top: 10px;
  border-radius: 8px;
}
.plus-button{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  
  margin-left: 10px;
  margin-right: 10px;
}
.plus{
  background-color: #F0D340;
  Width: 40px;
  Height: 40px;
  border: none;
  margin-top: 8px;

}
.Condition{
  margin-top: 10px;
  display: flex;
  gap: 10px;

}
.brand{
background-color: #F0D340;
border-radius: 100px;
Width:114px;
Height: 47px;
border: none;
transition: all .3s ease-in-out;
}
.brand:hover{
  background-color: #EBEBEB;
}
.second{
  background-color: #EBEBEB;
  Width:132px;
  Height: 47px;
  border: none;
 border-radius: 100px;
 transition: all .3s ease-in-out;
}
.second:hover{
  background-color:#F0D340 ;
}
.use{
  background-color: #EBEBEB;
  Width:82px;
  Height: 47px;
  border: none;
 border-radius: 100px;
 transition: all .3s ease-in-out;
}
.use:hover{
  background-color:#F0D340;
}
.box-uplod{
  margin-top: 10px;
  width: 100%;
  background-color: #F6FBFB;
  display: flex;
  justify-content: center;
  Height:60px;
  border-radius: 8px;
}
.massage{
  width: 100%;
  height: 239px;
  padding-left: 12px;
  padding-top: 10px;
  border-radius: 8px;
  background-color:  #FAFAFA;   
  border: 1px solid #EBEBEB; 
}
.Submit-button{
  background-color:  #1F999A;
  width: 100%;
  height: 57px;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}
.card-heading{
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  padding-top: 40px;

}
.card-paragraph{
  font-size: 14px;
  font-weight: 400;
}
.card-sty{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.card-sty2{
   padding-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.Next-button{
  margin-top: 20px;
  border: none;
  background-color: #1F999A;
  color: white;
  width: 100%;
  height: 50px;
}
.boxbu2{
  background-color: #EBEBEB;
  Width:100%;
  Height:60px;
  margin-top: 10px;
  border-radius: 8px;
}
.Submit-button2{
  background-color:  #1F999A;
  width: 334px;
  height: 57px;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}
.Request2{
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;

}
.add-new{
  background-color: #FEFDF7;
  padding-top: 20px;
  border: 1px solid  #F6E58C;
  border-radius: 8px;
  width: 100%;
  height: 328px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.add-new-head{
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
.spam-cl{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
}
.head-span{
  gap: 10px;
  display: flex;
  margin-top: 20px;
}
.col-boxx{
   display: flex;
   justify-content: center;
   margin-bottom: 10px;
}
.img-para{
 display: flex;
 gap: 10px;
}
.selected{
  border: 1px solid  #1F999A;
  color: black;
  width: 100%;
  height: 48px;
  margin-bottom: 10px;
  background-color: white;   
  transition: all .3s ease-in-out;
  border-radius: 6ps;
}



.box-ho{
  border: 1px solid #0000001A;
  padding: 20px;
  /* padding-left: 10px; */
  transition: all .3s ease-in-out;
 
}
.box-ho:hover{
  background-color: #001819;
  color: #ffffff !important;

  .selected:hover{
      background-color: #1F999A !important;
      color: white;
  }
}

.box-ho .img-para img:hover{
 filter: invert(1);
}
.Complete-button{
  width: 100%;
  height: 57px;
  color: white;
  background-color: #1F999A;
  margin-top: 20px;
  border: none;
  border-radius: 6px;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.saved{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}
.maniu{
  width: 90%;
  display: flex;
  padding-left: 10px;
  gap: 10px;
  font-size: 15px;
  font-weight: 610;
  padding-top: 10px;
  height: 50px;
  border-radius: 0px 6px 6px 0px;
  transition: all .3s ease-in-out;
}
.maniu:hover,.activen{
  background-color: #1F999A;
  color: white;
  margin: 0px;

}
.hoverfix{
  border-radius: 100px;
  width: 42px;
  padding: 5px;
  text-align: center;
  height: 42px;
  color: white;
  padding-top: 7px;
  background-color: #38a4a5;
  transition: all .3s ease-in-out;
}
.hoverfix:hover,.active1{
  background-color: #f0d340;   
  color: black;
}
.adverts{
  width: 100px;
  height: 34px;
  border: none;
  background-color: #E9FFE8;
  border-radius: 100px;
}
.adverts2{
  width: 100px;
  height: 34px;
  border: none;
  background-color: white;
  border-radius: 100px;
}
.my-saved{
  display: flex;
  gap: 0px;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 10px;
 
 
}
.Chat{
 width: 150px;
 height: 40px;
 border: 1px solid #1F999A;
 color: #1F999A;
 border-radius: 8px;
}
.Chat2{
 width: 150px;
 height: 40px;
 color: white;
 background-color: #1F999A;
 border: 1px solid #1F999A;

}
.adverts3{
  height: 34px;
  border: none;
  background-color: #E9FFE8;
  border-radius: 100px;
  
}
.adverts4{
  height: 34px;
  width: 51px;
  border: none;
  background-color: #E9FFE8;
  border-radius: 100px;
 
 
}
.adverts5{
  height: 34px;
  border: none;
  width: 73px;
  background-color:  #FAFAFA;
  border-radius: 100px;

}
.adverts6{
  height: 34px;
  border: none;
  width: 97px;
  background-color:  #FAFAFA;
  border-radius: 100px;
  
}
.adverts7{
  height: 34px;
  border: none;
  width: 88px;
  background-color:  #FAFAFA;
  border-radius: 100px;
 
}
.adverts8{
  height: 34px;
  border: none;
  width: 66px;
  background-color:  #FAFAFA;
  border-radius: 100px;
 
}
.adverts9{
  width: 78px;
  background-color:  #FAFAFA;
  height: 34px;
  border: none;
  border-radius: 100px;
 
}
.lorem-para{
  background-color:  #FAFAFA;
  padding: 18px;
  padding-top: 25px;
  font-weight: 550;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.setting-fom{
  display: flex;
  gap: 10px;   
  margin-left: 20px;
}
.label-type{
  font-weight: 500;
}
.in-type{
  width: 100%;
  height: 50px;
  border: 1px solid #DFDFDF;
  color: #DFDFDF;
  margin-top: 10px;
  padding-left: 10px;
  border-radius: 8px;
  
}
.buy-request{
  display: flex;
  justify-content: space-between;
}
.Buy-New{
  width: 93px;
  height: 35px;
  border-radius: 100px;
  border: none;
  background-color: #1F9A58;
  color: white;
  margin-top: 20px;

}
.Ellipse{
  display: flex;
  gap: 10px;
  color: #666666;
}
.make-offer{
  width: 100%;
  height: 50px;
  border-radius: 8px;
  background-color: #1F999A;
  color: white;
  border: none;

}
.date{
  display: flex;
  gap: 60px;
}
.paragraphs{
  display: flex;
  background-color: #FAFAFA;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  font-weight: 500;
}
.dates{
  display: flex;
  gap: 30px;
}
.display{
  gap: 10px;
  display: flex;
}
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
 
  text-align: left;
  padding: 13px;
}
.all-button{
  background-color: #f3f2f2;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.Edit{
  width: 100%;
  background-color:  #1F999A;
  color: white;
   border: 10px solid  #1F999A;
   height: 48px;
   margin-bottom: 10px;
   
}
.Mark-as-sold{
  width: 100%;
 margin-bottom: 10px;
 background-color: white;
 color: #1F999A;
 border: 1px solid #1F999A;
 height: 48px;
}
.Delete{
  width: 100%;
  height: 48px;
  background-color: #FFE5E5;
  color: #CF5959;
  border: 10px solid #FFE5E5;
}
.red-boll{
  background-image: url('/Rectangle 1.png');
  background-size: cover;
  border-radius: 15px;
  width: 100%;
  height: 353px ;
  
}
.red-boll2{
  background-image: url('/Rectangle 2.png');
  background-size: cover;
  /* padding-bottom: 10px; */
    border-radius: 15px;
    width: 100%;
    height: 353px ;
}
.red-boll3{
  background-image: url('/Rectangle 3.png');
  background-size: cover;
  border-radius: 15px;
  width: 100%;
  height: 353px ;
}
.red-boll4{
  background-image: url('/Rectangle 4.png');
  background-size: cover;
  border-radius: 15px;
  width: 100%;
  height: 353px ;
}

.red-boll5{
  background-image: url('/Rectangle5(1).png');
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  width: 100%;
  height: 353px ;
}
.camra-black{
  background-image: url('/Rectangle3(1).png');
  background-size: cover;
  /* background-position: center; */
  border-radius: 15px;

  width: 100%;
  height: 353px ;
}
.camra-black1{
  background-image: url('/Rectangle3(6).png');
  background-size: cover;
  /* background-position: center; */
  border-radius: 15px;
  width: 100%;
  ;
  height: 353px ;
}
.camra-black2{
  background-image: url('/Rectangle3(07).png');
  background-size: cover;
  /* background-position: center; */
  border-radius: 15px;
  
  width: 100%;
  height: 353px ;
}
.yellow-t{
  background-image: url('/Rectangle3(2).png');
  background-size: cover;
  /* background-position: center; */
  border-radius: 15px;
  
  height: 353px ;
  width: 100%;
}
.yellow-t1{
  background-image: url('/Rectangle3(5).png');
  background-size: cover;
  /* background-position: center; */
  border-radius: 15px;
  
  width: 100%;
  height: 353px ;

}
.yellow-t2{
  background-image: url('/Rectangle3(89).png');
  background-size: cover;
  /* background-position: center; */
  border-radius: 15px;

  width: 100%;
  height: 353px ;

}
.two-dogs{
  background-image: url('/Rectangle3(3).png');
  background-size: cover;
  /* background-position: center; */
  border-radius: 15px;

  width: 100%;
}
.two-dogs1{
  background-image: url('/Rectangle3(4).png');
  background-size: cover;
  /* background-position: center; */

  border-radius: 15px;
  margin-top: 10px;
  width: 100%;
  height: 353px ;
  
}
.two-dogs2{
  background-image: url('/Rectangle3(7).png');
  background-size: cover;
  margin-top: 20px;

  border-radius: 15px;
  width: 100%;
  height: 353px ;
  
}

.para1-para2{
  display: flex;
  margin-top: -20px;
  justify-content: space-between;
}
.bar-date{
  background-color: white;
  border-radius: 100px;
  width: 120px;
  padding-left: 10px;
  padding-top: 3px;
  height: 30px;
  margin-top: 21px;
  margin-bottom: 12px;
}
.img-chat-icon{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.benz{
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
}
.Technology{
  font-size: 14px;
  font-weight: 400;
  margin-top: -18px;
}
.nastrud{
  font-size: 32px;
  font-weight: 700;
}
.ipsum{
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}
@media (max-width:600px) {
  .i4-imgs{
      display: none !important;
  }
}
@media (max-width:600px) {
  .i4-imgs-block{
      display: block !important;
  }
}
@media (max-width:600px) {
  .Notication{
      display: none !important;
  }
}

.and4img{
margin-top: 9px;
}
.head-4{
  display: flex;
  justify-content: space-between;
}

.is-ko-block{
  margin-top: 16px;
}
.tabcontent {
  display: none;
}

/* Style the tab buttons */
.tablink {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
  transition: 0.3s;
}

.tablink:hover {
  background-color: #ddd;
  border-bottom: 1px solid #1F999A;
  font-weight: 700;
}

/* Style the active tab button */
.tablink.active {
  background-color: #ccc;
  border-bottom: 1px solid #1F999A;
  font-weight: 700;  
}

/* Show the active tab */
.tabcontent.active {
  display: block;
}
.mail{
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}
.Type-hear{
  background-color: #FAFAFA;
  width: 100%;
  height: 65px;
  border: none;
  margin-top: 10px;
  padding-left: 15px;
  border-radius: 7px;
}
.tsbs-button{
  width: 60%;
  height: 57px;
  background-color: #1F999A;
  border: none;
  color: white;
}
/* The Modal (background) */
.modal {
display: none;
position: fixed;
z-index: 999;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
}

/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 60%;
}

/* Close Button */
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}


.verification-input {
width: 40px;
/* Set your desired width */
height: 40px;
/* Set your desired height */  
text-align: center;
font-size: 20px; 
margin: 5px;
}
.upload-drop-your-file{
 background-color: #FAFAFA;
 width: 100%;
 padding-top: 70px;
 padding-bottom: 70px;
 margin-bottom: 20px;
}
.Drop{
   font-size: 34px;
   font-weight: 400;
   display: flex;
   justify-content: center;
   align-items: center;
   color: 
   #757575;
}
.add-buttonc{
  background-color: #1F999A;
  color: white;
  border: none;
  width: 123px;
  height: 57px;
}
.add-button-cla{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  margin-bottom: 20px;
}
.ninini{
  font-size: 28px;
  font-weight: 700;
  color: #1F999A;
}
.nononon{
  font-size: 20px;
  font-weight: 700;
  color: #1F999A;
  display: none;
}
@media(max-width:600px){
  .nononon{
      display: block !important;
  }
}
.Login{
  background-color: #1F999A;
  padding-top: 150px;
}
.login-page{
  background-color: #0F4B4C;
 border-radius: 20px;
 padding-top: 40px;
 margin-bottom: 30px;
 padding-bottom: 20px;
}
.wellcome{
  color:  #BADFE0;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}
.Signup{
  color: white;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-top: -10px; 
}
@media(max-width:600px){
  .Signup{
      font-size: 27px !important;
  }
}
.type-hers{
  width: 100%;
  background-color: #1D5757;
  color: #BADFE0;
  height: 65px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  padding-left: 10px;
}
.name-ali{
  color: white;
  margin-top: 20px;

}
.forms{
 display: flex;
 justify-content: center;
 
}
.logins{
  width: 192px;
  height: 63px;
  border: none;
  background-color:  #1F999A;
  border-radius: 10px;
  color: white;

}
.loginse{
  margin-top: 20px;
}
.Already{
  color: #BADFE0;
  padding-top: 20px;
}
.login-button-las{
  width: 100%;
  margin-top: 20px;
  height: 63px;
  background-color:#1F999A;
  color: white;
  border-radius: 10px;
  border: none;
}
.Dont-have{
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.three-imgs{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.anker{
  color: white;
}